body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6b4b4;
    font-family: "Ubuntu", sans-serif;
}


.navbar {
    margin-bottom: 20px;
    
}

.nav-link.active {
    font-weight: bold;
}

img {width: 450px;
height: auto;
border-radius: 10%;
}

#history { padding: 10px;
margin: 20px;}

#town {padding-top: 40px;
    margin: 30px;}
    
.container {text-align: center;}

.mobile-text {
    display: none;
}

@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }

    img {
        max-width: 160px;
    }
    .desktop-text {
        display: none;
    }
    .mobile-text {
        display: block;
        font-size: 10px;
        margin-left: 10px;
    }
    p{text-align: center;}
  

    #town{margin: 0;
    }
}



