body {
    font-family: "Anton", sans-serif;
    text-align: center;
    background-color: #c6b4b4;
}



img {width: 40%;
border-radius: 12%;}

h1 {padding: 10px;}

p {font-family:  "Roboto Condensed", sans-serif;}

@media (max-width: 400px) {
    h1 {margin-top: 30px;}
    img {width: 70%;}
    p{text-align: center;}
}