/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

.background-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("jacuzzi.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.4; 
    z-index: -1; 
}


.navbar {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    position: relative;
    z-index: 1; 
}

.nav-link.active {
    font-weight: bold;
}

h1 {
    color: black; 
    text-align: center;
}

P{ text-align: center;
color: black;
font-weight: 0;}


.container {
    padding: 20px;
    background-color: transparent; 
    color: #fff; 
    position: relative;
    z-index: 1; 
}
.book-box {
    background-color: #343A40;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    margin: 0 auto; 
        
}


.form-label {
    font-weight: bold;
    color: white;
}

.btn-primary {
    background-color: grey;
    border-color: grey;
    margin-bottom: 16px;
}

.btn-primary:hover {
    background-color: #454745;
    border-color: #454745;
}

@media (max-width: 400px) {
    h1 { font-size: 30px;}
    p{font-size: 15px;}
    .book-box {max-width: 250px;
    margin-bottom: 15px;}
    .form-label {font-size: 12px;}
    #departure {max-height: 20px;}
    #arrival {max-height: 20px;}
    .btn-primary {max-height: 30px;
     font-size: 15px;
    margin-top: 15px;}
}